* text=auto
*.cs text eol=lf
*.shader text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.txt text eol=lf
*.pdf binary
*.fbx binary
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.ttf binary
*.otf binary
*.zip binary
